.form h1 {
  font-weight: 700;
}
.debug {
  border: 1px solid blue;
}
.containerForm {
  grid-column-start: 3;
  grid-column-end: 13;
  /* background-color: aqua; */
  display: flex;
}

.firstRow {
  flex: 1;
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
}

.secondRow {
  flex: 1;
  background-image: url("../../images/form/roboto-first.png");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  padding: 2rem;
}

.firstRow input {
  display: block;
  border-radius: 2rem;
  width: 100%;
  appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid #ce225e;
  padding-inline-start: 24px;
  padding-block: 11px;
}
.field {
  height: inherit;
  display: flex;
  flex-direction: column;
  color: #ce225e;

  column-rule-color: #ce225e;
}

.field input {
  margin-block-end: 2rem;
}

.field button {
  padding: 11px 20px;
  width: 150px;
  background-color: #58a5ff;
  border: none;
  color: white;
  border-radius: 2rem;
}

.buttonContent {
  display: flex;
  justify-content: flex-end;
}
