main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: calc(100vh - 76px);
  padding-block-start: 2rem;
}

.firstRow {
  grid-column-start: 3;
  grid-column-end: 13;
  /* background-color: aqua; */
}

.debug {
  border: 1px solid red;
}

.info-content {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  padding-inline: 1rem;
  position: absolute;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  top: 30%;
  left: 5%;
}

.blockImage {
  width: 110px;
  height: 110px;
  background-image: url("../../images/skills/progress.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bold {
  font-size: 20px;
  font-weight: 900;
}

.blockProgress {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.blockProgress h1,
h4 {
  margin: 0;
}

.blockProgress h4 {
  font-size: 14px;
}

.modeContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block-start: 30%;
  /* margin-inline-end: 45px; */

  /* padding-block-end: 0.5rem; */
  border-bottom: 2px solid #de2566;
}

.habilities {
  display: flex;

  flex-basis: 40%;
}

.hability {
  flex: 1;
  display: flex;
  margin-block-end: 1rem;
  /* justify-content: center; */
  align-items: center;
  padding-block-start: 1rem;
  gap: 1rem;
}
.modeContent button {
  padding: 7px 28px;
  background-color: #58a5ff;
  border: none;
  color: white;
  border-radius: 2rem;
  order: -1;
}

.sortContent {
  margin-block-start: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
  padding-inline-end: 2rem;
}

.tableContent {
  padding-inline-end: 2rem;
  margin-block-start: 2rem;
  display: none;
}

.tableContent tr th {
  background-color: #de2566;
  color: white;
  border-right: 1px solid white;
  text-align: center;
}

.content-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.content-select select::-ms-expand {
  display: none;
}

.content-select {
  max-width: 250px;
  position: relative;
}

.content-select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #fdfcfc;
  font-size: 1em;
  color: #999;
  font-family: "Quicksand", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}

.content-select select:hover {
  background: #ec6073;
  color: white;
}

/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i {
  position: absolute;
  right: 20px;
  top: calc(50% - 13px);
  width: 16px;
  height: 16px;
  display: block;
  border-left: 4px solid #c13c2a;
  border-bottom: 4px solid #ec5656fa;
  transform: rotate(-45deg); /* Giramos el cuadrado */
  transition: all 0.25s ease;
}

.content-select:hover i {
  margin-top: 3px;
}

@media screen and (min-width: 480px) {
  .habilities {
    display: flex;
    flex-basis: 40%;
  }
  .modeContent {
    display: flex;
    justify-content: space-between;
    margin-block-start: 45px;
    margin-inline-end: 45px;

    padding-block-end: 0.5rem;
    border-bottom: 2px solid #de2566;
  }
  .tableContent {
    display: block;
  }
}

@media screen and (min-width: 500px) {
  .info-content {
    width: 100%;
    margin: 0;
    position: static;
  }
}

@media screen and (min-width: 780px) {
  .info-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline: 1rem;
  }
  .modeContent {
    flex-direction: row;
  }
  .modeContent button {
    order: 2;
  }
}

@media screen and (min-width: 1083px) {
  .info-content {
    justify-content: space-between;
  }
}
