.cards-block {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.cards {
  width: 280px;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 1px 1px 8px #e1e1e1;
}

.cardGround {
  height: 70px;
  background-image: linear-gradient(
    to right top,
    #8d0518,
    #a2091e,
    #b80d25,
    #cf122c,
    #e61633
  );
  position: relative;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.cards hr {
  margin-inline: 1rem;
  border-color: #e1e1e18f;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  height: 80px;
  width: 80px;
  position: absolute;
  top: calc(100% - 40px);
  left: calc(50% - 40px);
  padding: 0.2rem;
  background-color: #fff;
  box-shadow: 1px 1px 5px;
}

.card-info {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-info h3,
p {
  margin: 0;
}
.progress-content {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  padding-inline: 1rem;
}
.progressContent {
  height: 6px;
  margin-inline: 1rem;

  border-radius: 4rem;
  /* display: block; */
  background-color: #e1e1e1;
}
.progressC {
  height: 6px;
  width: 40%;
  border-radius: 4rem;
  /* display: block; */
  background-color: #0f70f0;
}

.qualitiesContent {
  padding-inline: 1rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
}

.quality {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorCards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
