aside {
  position: absolute;
  color: white;
  width: 192px;
  background-image: url("../images/background-aside.png");
  background-repeat: repeat;
  background-position: center;
  /* background-size: contain; */
  overflow: hidden;
  left: 0;
  top: 78px;
  bottom: 100px;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(223, 70, 70);
}

nav ul li {
  list-style: none;
}
.debug {
  border: 1px solid blue;
}

nav ul {
  display: flex;
  padding: 1rem;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
}

nav ul li {
  /* margin-top: 1rem; */
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav ul li:nth-child(2) img,
nav ul li:nth-child(3) img {
  margin-left: 0.5rem;
}

.line-separate {
  height: 1px;
  width: 95%;
  background-color: #e1e1e1;
  position: absolute;
  right: 0;
}

.settings {
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
