header {
  height: 78px;

  display: flex;
  justify-content: space-between;
  box-shadow: 0px 6px 14px #00000026;
  color: #ce225e;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 146px;
  margin-left: 14px;
  /* margin-inline-start: 14px; */
}

/* utilidades */
.debug {
  border: 1px solid red;
}

.header-menu {
  display: flex;

  margin-right: 26px;
  align-items: center;
}

.menu {
  width: 21px;
  height: 21px;
}

.notification {
  width: 27px;
  height: 22px;
  margin: 0 29px 0 20px;
}

.barra {
  height: 35px;
  width: 1px;
  margin-left: 23px;
  background-color: #00000026;
}
